@import "tailwindcss";

@theme inline {
  --font-potta: var(--font-potta);
}

.noise {
  position: relative;
  background: #222; /* your base color */
}

.noise::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/noisy-texture.png");
  background-size: cover;
  opacity: 0.5;
  pointer-events: none;
}

.border-gradient {
  background-image: linear-gradient(
    260.45deg,
    rgba(40, 26, 201, 0.16) -2.69%,
    rgba(251, 179, 33, 0.16) 140.54%
  );
}

.stage-light {
  background: radial-gradient(
    51.78% 51.78% at 50% 50%,
    rgba(33, 89, 114, 0.29) 0%,
    rgba(81, 81, 81, 0) 100%
  );
}

@keyframes chain-wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

.animate-chain-wave2 {
  animation: chain-wave2 2s ease-in-out infinite;
}

@keyframes chain-wave2 {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
}

.animate-chain-wave {
  animation: chain-wave 2s ease-in-out infinite;
}
